<% include partial/header %>
<p>Please, register here!</p>
<form method="post">
    <label>Username: </label>
    <input type="text" name="username" id="username" />
    <label>Password: </label>
    <input type="password" name="password" id="pass" />
    <input type="submit" value="submit"/>
</form>
<p><%= message %></p>
<%if (status) { %>
    Please, login <a href="/login">here</a>
<% } %>
<% include partial/footer %>