<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
</head>
<body class="container">
<div class="header">
    Header
    <a href="/">Main page</a>
    <%if (locals.user != undefined) { %>
        <a href="/logout">logout here</a>
        <a href="/polls">Your polls</a>
    <% } else { %>
        <a href="/login">login</a>
    <% } %>
</div>
<div class="container">